@import url("https://fonts.google.com/specimen/Roboto+Mono");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto+Mono", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  background-color: #2393e2;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1500px;
  gap: 40px;
  padding: 10px;
}

section {
  background-color: #ffff;
  border-radius: 7px;
}

.tools-board {
  display: flex;
  flex-direction: row;
  width: 65%;
  padding: 15px 50px 0px;
}

.tools-board .row {
  margin-bottom: 20px;
  margin-right: 50px;
}

.row .options {
  list-style: none;
  margin: 20px 0 0 5px;
  flex-direction: row;
}

.row .options .option {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
}

.option:is(:hover, .active) img {
  filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg)
    brightness(100%) contrast(100%);
}

.option :where(span, label) {
  color: #5a6168;
  padding-left: 10px;
  cursor: pointer;
}

.option:is(:hover, .active) :where(span, label) {
  color: #2393e2;
}

.option #fill-color {
  height: 14px;
  width: 14px;
  cursor: pointer;
}

.option #size-slider {
  width: 100%;
  height: 5px;
  margin-top: 10px;
}

#fill-color:checked ~ label {
  color: #2393e2;
}

.colors .options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.colors .option {
  height: 20px;
  width: 20px;
  background: red;
  border-radius: 50%;
  margin-top: 3px;
  margin-right: 5px;
  position: relative;
}
.colors .option:nth-child(1) {
  background-color: #fff;
  border: 1px solid #bfbfbf;
}
.colors .option:nth-child(2) {
  background-color: #000;
}
.colors .option:nth-child(3) {
  background-color: #e02020;
}
.colors .option:nth-child(4) {
  background-color: rgb(7, 245, 7);
}
.colors .option:nth-child(5) {
  background-color: #edfd03;
}

.colors .option:nth-child(6) {
  background-color: #f500b8;
}

.colors .option:nth-child(7) {
  background-color: #00edf5;
}

.colors .option:nth-child(8) {
  background-color: rgb(165, 32, 32);
}

.colors .option:nth-child(9) {
  background-color: gold;
}

.colors .option:nth-child(10) {
  background-color: pink;
}

.colors .option:nth-child(11) {
  background-color: gray;
}

.colors .option:nth-child(12) {
  background-color: #4a98f7;
}
.colors .option.selected::before {
  position: absolute;
  content: "";
  height: 12px;
  top: 50%;
  left: 50%;
  width: 12px;
  background: inherit;
  border-radius: inherit;
  border: 2px solid #ffff;
  transform: translate(-50%, -50%);
}

.colors .option:first-child.selected::before {
  border-color: #ccc;
}

.option #color-picker {
  opacity: 0;
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.buttons button {
  width: 60%;
  height: 24%;
  color: #fff;
  border: none;
  outline: none;
  font-size: 0.9rem;
  padding: 11px 0;
  margin-bottom: 13px;
  border-radius: 5px;
  background: none;
}

.buttons .save-img {
  width: 150px;
}

.buttons .clear-canvas {
  color: #6c757d;
  border: 1px solid #6c757d;
  transition: all 0.3s ease;
}

.clear-canvas:hover {
  color: #fff;
  background: #6c757d;
}

.buttons .save-img {
  background: #2393e2;
  border: 1px solid #2393e2;
}

.drawing-board {
  flex: 1;
}

.drawing-board canvas {
  width: 100%;
  height: 515px;
}
